body {
    background-image: 
      url('img/parede.jpg'),
      url('img/chao.png');
    background-size:  100% 74%;
    background-repeat: no-repeat; 
    background-position: top center, bottom center;
    width: 100% auto;
}
.scene {
    position: relative;
    width: 100%; /* Ajuste conforme necessário */
    height: 800px; /* Ajuste conforme necessário */
}

.arvore, .janela, .lareira, .decoration, .oscar {
    position: absolute;
}

.arvore {
    width: 550px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
}

#estrela {
    top: 30%;
    left: 46%;
    width: 70px;
}
#stitch {
    top: 41%;
    left: 52%;
    width: 60px;
}
#homem-aranha {
    top: 45%;
    left: 43%;
    width: 55px;
}
#edwiges {
    top: 53%;
    left: 50%;
    width: 50px;
}
#oscar {
    top: 55%;
    left: 40%;
    width: 70px;
}
#mufasa {
    top: 72%;
    left: 31%;
    width: 80px;
    transform: rotate(15deg);
}
#marceline {
    top: 65%;
    left: 53%;
    width: 60px;
}
#homem-ferro {
    top: 70%;
    left: 41%;
    width: 45px;
}
#pascal {
    top: 82%;
    left: 37%;
    width: 80px;
}
#harry {
    top: 79%;
    left: 48%;
    width: 90px;
}
#hulk {
    top: 80%;
    left: 60%;
    width: 50px;
}

.decoration.animate {
    animation: swingZoom 1.0s infinite alternate ease-in-out;
}

@keyframes swingZoom {
    0% {transform: scale(1);}
    25% {transform: scale(1.2) rotate(1deg);}
    50% {transform: scale(1.5) rotate(5deg);}
    75% {transform: scale(1.2) rotate(1deg);}
    100% {transform: scale(1);}
}
   
.lareira {
    max-width: 250px;
    top: 300px;
    left: 28px;
}

#pai_natal {
    position: absolute;
    max-width: 100px;
    top: 262px;
    left: 103px;
}

#pai_natal.foge {
    max-width: 160px;
    top: 280px;
    left: 90px;
}

.dragao {
    position: absolute;
    max-width: 170px;
    top: 410px;
    left: -10px;
} 

.janela {
    width: 450px;
    top: 5%;
    left: 56%;
}

#janela.aberta {
    background-color: black;
}

@media screen and (max-width: 768px) {
    body {
      background-size: cover;
    }
}